/* Centrer verticalement et horizontalement le contenu du menu principal */
#mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    height: calc(100vh - 60px); /* Assure que le contenu occupe toute la hauteur disponible sous le header */
    overflow: hidden; /* Empêche le défilement sur cette section */
    text-align: center; /* Centre horizontalement */
}

/* Boutons du menu principal */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    padding: 15px 30px;
    background-color: #66FF33;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 15px;
    transition: background-color 0.3s, border-color 0.3s;
    display: inline-block;
    width: 200px;
}

nav ul li a:hover {
    background-color: #333;
    border-color: #66FF33;
}

#newGame {
    background-color: #FFF;
}
    

/* Styles pour le logo */
#logo {
    display: block;
    width: 300px; /* Taille de base en pixels (ou en %) */
    height: auto; /* Garde les proportions de l'image */
    margin-bottom: 100px; /* Espace sous le logo */
}

/* Si tu veux adapter la taille selon les écrans */
@media (max-width: 768px) {
    #logo {
        width: 300px; /* Plus petit pour les écrans mobiles */
    }
}

@media (max-width: 480px) {
    #logo {
        width: 160px; /* Encore plus petit pour les très petits écrans */
    }
}
